	
	#detail-blog #imgBlog{
		width: 100%;
		height: 500px;
		background-size: cover;
		background-position: 0px -150px;
		background-image: url(../../img/vinicus.jpg);
		background-attachment: fixed;
	}
	#detail-blog article h1{
		color: #333;
		margin: 50px 0;
	}
	#detail-blog article{
		padding: 20px;
		line-height: 40px;
		font-size: 20px;
	}